body{
    background: #546e7a;
    }

header{
    background: #29434e;
}    

nav{
    background: #29434e;
    text-align: center;
    } 

div{
    background:white;
    width:50%;
    margin:auto;
    padding: 5%;
    border: 15px solid #546e7a;
    overflow: auto;  
} 

footer{
    background: #819ca9;
    height:120px;
}

h1{
    color: white;
    text-align: center;
    font-size: 55px;
    font-weight: bold;
    width:1140px; 
    margin:auto;
}

.texto_pie{
    text-align:unset;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    font-weight: bold;
    padding-top: 50px;
    text-align: center;
}

.index_div{
    height:400px; 
    width:80%; 
    overflow: hidden;
}

.index_button{
    background-color: #fcd734;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    font-weight: bold;
}

.index_enlace{
    text-decoration: none;
    color: black;
}

.index_h1{
    text-decoration: none;
    color: white;
}

 