body{
    background: #546e7a;
    }

header{
    background: #29434e;
}    

nav{
    background: #fdd835;
    } 

div{
    background: #eee;
} 

footer{
    background: #819ca9;
}

h1{
    color: white;
}

 