body{
    background: #546e7a;
    }

#colorHeader{
    background: #29434e;
}    

#colornNav{
    background: #29434e;
    }

#celdas{
    background: #819ca9;
    width:80%;
    height:400%;
    margin:auto;
    border: 15px solid #546e7a;
    border-width:8px;
}

#celdas2{
    background: #819ca9;
    width:97%;
    height:400%;
    margin:auto;
    border: 0;
    border-width:8px;
}


#colorFooter{
    background: #29434e;
}

#index_div{
    height:900px; 
    width:80%; 
    background:#819ca9;
    margin:auto;
    padding: 4%;
    border: 10px solid #546e7a;  
}

#color_TitulEncabezados{
    color: #fcd734;
    font-family: serif;
}

#centrar_texto{
    padding-left: 6%;
    padding-top: 1%;
}

#titulo{
    font-family: serif;
    font-weight: bold;
    font-size:550%;
    padding-left: 40%;
    padding-top: 1%;
}

#titulo2{
    font-family: serif;
    font-weight: bold;
    padding-left: 35%;
    font-size:400%;
}

#titulo3{
    font-family: serif;
    font-weight: bold;
    padding-left: 30%;
    font-size:300%;
}

#icono{
    padding-right: 250%;
}
