//Colores
//Primario
$color_primario: #546e7a;
$color_primarioClaro: #819ca9; 
$color_primarioOscuro: #29434e; 

//Secundario
$color_secundario: #fcd734;
$color_secundarioClaro: #ffff6b;
$color_secundarioOscuro: #c5a600;






