@import "https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica&display=swap";
@import "https://fonts.googleapis.com/css2?family=Rajdhani&display=swap";

//Fuentes
$fuente_titulosEnunciados: 'IM Fell Double Pica', serif;
$fuente_parrafos: 'Rajdhani', sans-serif;

//Color texto
$color_textPrimario: black;
$color_textSecundario: white;

//Tamaños
$H1: 40px;
$H2: 32px;
$H3: 24px;
$H4: 20px;
$Cuerpo: 18px;