@import "https://fonts.googleapis.com/css2?family=Ultra&display=swap";
@import "https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap";

//Fuentes
$TitulosEncabezados: 'Ultra', serif;
$Parrafos: 'Hind Siliguri', sans-serif;

//Colores fuentes
$color_fuentePrimario: white;
$color_fuenteSecundario: black;

//Tamaño
$H1: 40px;
$H2: 32px;
$H3: 24px;
$H4: 20px;
$Cuerpo: 18px;