@media (min-width: 800px) and (max-width: 2000px) {
  * {
    margin: 0;
    padding: 0;
  }
  body {
    font-family: "Montserrat", sans-serif;
    font-size: bolder;
    background-color: #ffcc80;
  }
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 8rem;
    background-color: #ff6d00;
    color: white;
  }
  #fila {
    display: none;
  }
  #menu {
    display: flex;
    flex-direction: row;
    margin-top: 4rem;
  }
  #logo {
    margin-top: 4rem;
  }
  #titulo {
    margin-top: 3rem;
    font-size: 1.5rem;
    font-weight: bolder;
  }
  #menu p {
    margin-right: 1rem;
  }
  main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 2%;
    margin-right: 2%;
  }
  section {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-left: 1%;
  }
  img {
    width: 100%;
    margin-top: 2%;
  }
  .redondeado {
    border-radius: 15px;
    border: 2px solid #f7f32d;
  }
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #f7f32d;
    color: black;
  }
  footer div {
    font-weight: bolder;
    font-size: 2rem;
  }
}
@media (min-width: 600px) and (max-width: 800px) {
  * {
    margin: 0;
    padding: 0;
  }
  body {
    font-family: "Montserrat", sans-serif;
    font-size: bolder;
    background-color: #ffcc80;
  }
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 5rem;
    background-color: #ff6d00;
    color: white;
    text-align: center;
  }
  #fila {
    display: block;
    padding-top: 1.8rem;
  }
  #menu {
    display: none;
  }
  #logo {
    margin-top: 2rem;
  }
  #titulo {
    margin-top: 2rem;
    font-weight: bolder;
  }
  #menu p {
    margin-right: 0.5rem;
  }
  main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 2%;
    margin-right: 2%;
  }
  section {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-left: 1%;
  }
  img {
    width: 100%;
    margin-top: 2%;
  }
  .redondeado {
    border-radius: 15px;
    border: 2px solid #f7f32d;
  }
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2%;
    background-color: #f7f32d;
    color: black;
  }
  footer div {
    font-weight: bolder;
    font-size: 1rem;
  }
}
@media (max-width: 600px) {
  * {
    margin: 0;
    padding: 0;
  }
  body {
    font-family: "Montserrat", sans-serif;
    font-size: lighter;
    background-color: #ffcc80;
  }
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 5rem;
    background-color: #ff6d00;
    color: white;
    text-align: center;
  }
  #fila {
    display: block;
    padding-top: 1.8rem;
  }
  #menu {
    display: none;
  }
  #logo {
    margin-top: 2rem;
  }
  #titulo {
    margin-top: 2rem;
    font-weight: lighter;
  }
  #menu p {
    margin-right: 0.5rem;
  }
  main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 2%;
    margin-right: 2%;
  }
  section {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 1%;
  }
  img {
    width: 100%;
    margin-top: 2%;
  }
  .redondeado {
    border-radius: 15px;
    border: 2px solid #f7f32d;
  }
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2%;
    background-color: #f7f32d;
    color: black;
  }
  footer div {
    font-weight: bolder;
    font-size: 1rem;
  }
}

/*# sourceMappingURL=estilo.css.map */
